[submodule "evmc"]
	path = deps/evmc
	url = https://github.com/ethereum/evmc
[submodule "evmone-v1"]
	path = deps/v1/evmone
	url = https://github.com/axic/evmone
[submodule "evmone-v2"]
	path = deps/v2/evmone
	url = https://github.com/axic/evmone
[submodule "solidity-v2"]
	path = deps/v2/solidity
	url = https://github.com/ethereum/solidity
[submodule "solidity-v1"]
	path = deps/v1/solidity
	url = https://github.com/ethereum/solidity
[submodule "deps/evmc"]
	path = deps/evmc
	url = https://github.com/ethereum/evmc
[submodule "src/native/intx"]
	path = src/native/intx
	url = https://github.com/chfast/intx
